:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #888;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  background-color: #ddd;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* start sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}
.sidebar > h3::before {
  bottom: -20px;
  width: 80px;
  height: 2px;
}
.sidebar > h3::after {
  bottom: -29px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px white solid;
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar {
    width: 62px;
    padding: 10px;
  }
}
/* end sidebar */
/* start content */
/* start content head */
.content {
  overflow: hidden;
}
.head .search::before {
  content: "\f002";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--gray-color);
}
.head .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 20px;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  color: transparent;
}
.head .icons .notification {
  cursor: pointer;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  cursor: pointer;
}
/* end content head */
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
  border-radius: 10px;
}
.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: rgb(0, 0, 0);
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

/* start welcome widget */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid #ddd;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* end welcome widget */
/* start Quick Draft */
.quick-draft form textarea {
  min-height: 180px;
}
.quick-draft form .save {
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s;
}
.quick-draft form > input:focus::placeholder,
.quick-draft form > textarea:focus::placeholder {
  opacity: 0;
  transition: 0.1s;
}
.quick-draft form .save:hover {
  background-color: var(--blue-alt-color);
}
/* end Quick Draft */
/* start targets */
.targets .target-row {
  margin-bottom: 20px;
}
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .target-row .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
  width: 32px;
}
.targets .details .progress > span span::after {
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
  background-color: rgb(34 179 94 / 20%);
}
/* end targets */
/* start ticket widget */
.ticket .box {
  width: calc(50% - 10px);
  border: 1px solid #ccc;
}
@media (max-width: 767px) {
  .ticket .box {
    width: 100%;
  }
}
.ticket .box i {
  font-size: 35px;
}
/* end ticket widget */
/* start Latest News*/
@media (max-width: 767px) {
  .latest-news .news-row {
    display: block;
  }
  .latest-news .news-row img {
    margin: 0 !important;
  }
  .latest-news .news-row .label {
    margin: 10px auto;
    width: fit-content;
  }
}
.latest-news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}
.latest-news .news-row .info {
  flex-grow: 1;
}
.latest-news .news-row .info h3 {
  font-size: 16px;
  margin: 0 0 6px;
}
.latest-news .news-row .label {
  height: fit-content;
}
.latest-news .news-row:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
/* end Latest News*/
/* start tasks */
.tasks .tasks-row:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.tasks .tasks-row:nth-of-type(4) .info {
  text-decoration: line-through;
  opacity: 0.4;
}
.tasks .tasks-row:nth-of-type(4) {
  opacity: 0.4;
}
.tasks .tasks-row .info {
  flex-grow: 1;
}
.tasks .tasks-row i {
  cursor: pointer;
  transition: 0.3s;
}
.tasks .tasks-row i:hover {
  color: var(--red-color);
}
/* end tasks */
/* start Latest Uploads*/
.uploads .uploads-row:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.uploads .uploads-row img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.uploads .uploads-row .info {
  flex-grow: 1;
}
/* end Latest Uploads*/
/* start Project Progress */
.last-project > ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.last-project > ul li::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  border: 2px solid white;
  outline: var(--blue-color) solid 2px;
  margin-right: 15px;
  z-index: 12;
}
.last-project > ul li.done::before {
  background-color: var(--blue-color);
}
.last-project > ul li.currect::before {
  animation: flash 2s infinite ease-in-out alternate;
}
@keyframes flash {
  50% {
    background-color: var(--blue-color);
  }
  100% {
    background-color: white;
  }
}
.last-project > img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 160px;
  opacity: 0.1;
}
/* end Project Progress */
/* start Reminders */
.reminder > ul li > span {
  width: 15px;
  height: 15px;
}
.reminder > ul li > .blue {
  border-left-color: var(--blue-color);
  border-left-width: 2px;
  border-left-style: solid;
}
.reminder > ul li > .green {
  border-left-color: var(--green-color);
  border-left-width: 2px;
  border-left-style: solid;
}
.reminder > ul li > .orange {
  border-left-color: var(--orange-color);
  border-left-width: 2px;
  border-left-style: solid;
}
.reminder > ul li > .red {
  border-left-color: var(--red-color);
  border-left-width: 2px;
  border-left-style: solid;
}
/* end Reminders */
/* start Latest Post */
.latest-post .top img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 15px;
}
.latest-post .content {
  text-transform: capitalize;
  list-style: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}
/* end Latest Post */
/* start Social Media */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}
.social-media .box i:hover {
  transform: rotate(5deg);
}

.social-media .twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.social-media .twitter i {
  background-color: #1da1f2;
}
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook a {
  background: #1877f2;
}
.social-media .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1877f2;
}
.social-media .facebook i {
  background-color: #1877f2;
}
.social-media .youtube a {
  background-color: #ff0000;
}
.social-media .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.social-media .youtube i {
  background-color: #ff0000;
}
.social-media .linkedin a {
  background-color: #0077b5;
}
.social-media .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.social-media .linkedin i {
  background-color: #0077b5;
}

/* end Social Media */
/* start projects table */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 900px;
  border-spacing: 0;
}
.projects table td {
  padding: 15px;
  transition: 0.3s;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.projects table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #f7f7f7;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
/* end projects table */
/* end content */
/* start settings */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}
.settings-page input:disabled {
  background-color: #f0f4f8;
  cursor: no-drop;
}
.widgets-control .control input[type="checkbox"] {
  appearance:none;
}
.widgets-control .control label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  width: 14px;
  height: 14px;
  border: 2px solid var(--gray-color);
  border-radius: 4px;

}
.widgets-control .control label:hover::before {
  border-color: var(--blue-alt-color);
}
.widgets-control .control label::after {
  content: "\f00c";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  background-color: var(--blue-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
  border-radius: 4px;
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
.backup-control input {
  appearance: none;
}
.backup-control .date label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--gray-color);
  border-radius: 50%;
}
.backup-control .date label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s;
}
.backup-control .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.backup-control .servers {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
@media (max-width:767px) {
  .backup-control .servers {
    flex-wrap: wrap;
  }
}
.backup-control .servers .server {
  border: 2px solid #eee;
  position: relative;
}
.backup-control .servers .server label {
  cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
.toggle-checkbox {
  appearance: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 15px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  content: "\f00d";
  font-weight: 900;
  font-family: var(--fa-style-family-classic);
  background-color: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  color: var(--blue-color);
  left: 50px;
}
/* start site control */
.settings-page .close-message {
  resize: none;
  border-color: #ccc;
  min-height: 150px;
}
/* end site control */
/* start General Info */
.general .email {
  width: calc(100% - 80px);
}
/* end General Info */
/* start security */
.security .box {
  padding-top: 20px;
  padding-bottom: 20px;
}
.security .box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
/* end security */
/* start social-media */
.settings-page .social-media i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}
.settings-page .social-media input {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  border-radius: 0 6px 6px 0;
  height: 40px;
}
.settings-page .social-media > div:focus-within i {
  color: black;
}
/* end social-media */
/* start widgets-control */
.widgets-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
/* end widgets-control */
/* start Backup Manager */

.backup-control .date label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.backup-control .servers .server label i {
  display: block;
} 
/* end Backup Manager */
/* end settings */
/* start profile-page */
/* start avatar-box */
@media (max-width:767px) {
  .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width:768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 6px;
}
/* end avatar-box */
/* start info-box */
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box .box h4 {
  font-weight: normal;
}
.profile-page .info-box .toggle-switch {
  height: 20px;
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
@media (max-width:767px) {
  .profile-page .info-box .toggle-switch {
    margin: auto;
  }
}
/* end info-box */
/* start skills */
.skills {
  flex-grow: 1;
}
@media (max-width:767px) {
  .overview {
    flex-direction: column;
  }
  .other-skills {
  flex-direction: column; 
  }
}
.skills .row {
  padding: 21px 0;
}
.skills .row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
/* end skills */
/* start Activities */
.activities {
  flex-grow: 2;
}
@media (max-width:767px) {
  .activities .row {
    flex-direction: column;
  }
  .activities .row img {
    margin-bottom: 15px;
    margin-left: 7px;
  }
  .activities .row span {
    margin-bottom: 10px;
  }
  .activities .row .date {
  margin: auto;
  margin-top: 10px;
  }
}
.activities .row {
  min-height: 100px;
}
.activities .row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.activities .row img{
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
.activities .row .date {
  margin-left: auto;
}
/* end Activities */
/* end profile-page */
/* start Projects-page */
  .projects-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
  @media (max-width: 767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
  .projects-page .project .date {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .projects-page .project h4 {
    font-weight: normal;
  }
  .projects-page .project .team {
    position: relative;
    min-height: 80px;
  }
  .projects-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .projects-page .project .team a:nth-child(2) {
    left: 25px;
  }
  .projects-page .project .team a:nth-child(3) {
    left: 50px;
  }
  .projects-page .project .team a:nth-child(4) {
    left: 75PX;
  }
  .projects-page .project .team a:nth-child(5) {
    left: 100px;
  }
  .projects-page .project .team a:hover {
    z-index: 100;
  }
  .projects-page .project .team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .projects-page .project .do {
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 15px;
  }
  @media (max-width:767px) {
    .projects-page .project .do {
      flex-direction: column
    }
  }
  .projects-page .project .do span {
    margin-right: 5px;
    width: fit-content;
  }
  @media (max-width:767px) {
    .projects-page .project .do span:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .projects-page .project .info {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
  }
  @media (max-width:767px) {
    .projects-page .project .info {
      flex-direction: column
    }
  }
  .projects-page .project .progress {
    height: 6px;
    width: 260px;
    position: relative;
  }
  @media (max-width:767px) {
    .projects-page .project .progress {
      margin-bottom: 15px;
    }
  }
  .projects-page .project .progress span {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6px;
    height: 100%;
  }
/* end Projects-page */
/* start courses-page */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width:767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.course .owner {
  position: absolute;
  left: 20px;
  top: 20px;
  border: 3px solid white;
  width: 64px;
}
.course img:first-child {
  border-radius: 6px 6px 0 0;
}
.course h4 {
  font-weight:bolder;
}
.course .description {
  line-height: 1.6;
}
.course .info {
  border-top: 1px solid #eee;
}
.course .info .title {
  position: absolute;
  left: 50%;
  top: -13px;
  transform: translateX(-50%);
  cursor: pointer;

}
/* end courses-page */
/* start Friends-page */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width:767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.friends-page .friend .contact {
  position: absolute;
}
  .friends-page .friend .contact i {
    background: #eee;
    cursor: pointer;
    transition: 0.3s;
  }
  .friends-page .friend .contact i:hover {
    background: var(--blue-color);
    color: white;
  }
  .friends-page .friend .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .friends-page .friend .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
  }
/* end Friends-page */
/* start profile page */
.files-page {
  flex-direction:row-reverse;
  align-items: flex-start;
}
@media (max-width:767px) {
  .files-page {
    flex-direction:column;
    align-items: normal;
  }
}
.files-page .files-statistics {
  min-width: 260px;
}
.files-page .files-statistics .icon {
  width: 40px;
  height: 40px;
  display: flex;
  margin-right: 10px;
}
.files-page .files-statistics .blue {
  background-color: rgb(0 117 255 / 20%);
}
.files-page .files-statistics .green {
  background-color: rgb(34 197 94 / 20%);
}
.files-page .files-statistics .red {
  background-color: rgb(244 67 54 / 20%);
}
.files-page .files-statistics .orange {
  background-color: rgb(245 158 11 / 20%);
}
.files-page .files-statistics .size {
  margin-left: auto;
}
.files-page .files-statistics a {
  margin: 15px auto 0;
  padding: 10px 15px;
  transition: 0.3s;
}
.files-page .files-statistics a:hover {
  background-color: var(--blue-alt-color);
}
.files-page .files-statistics a:hover i {
  animation: go-up 0.8s infinite;
}
.files-page .files {
  grid-template-columns: repeat(auto-fill , minmax(200px ,1fr));
  flex: 1;
}

.files-page .files .file i {
  left: 10;
  top: 10;
}
.files-page .files .file img {
  width: 64px;
  height: 64px;
  margin: 20px auto;
  transition: 0.3s;
}
.files-page .files .file img:hover {
  transform: rotate(5deg);
}
.files-page .files .file .info {
  border-top: 1px solid #eee;
}
@keyframes go-up {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* end profile page */
/* start plan-page  */
  .plans-page {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  @media (max-width:767px) {
    .plans-page {
      grid-template-columns: repeat( minmax(200px, 1fr));
    }
  }
  .plans-page .plan .top {
    border: 3px solid white;
  }
  .plans-page .plan .green {
    outline: 3px solid var(--green-color);
  }
  .plans-page .plan .blue {
    outline: 3px solid var(--blue-color);
  }
  .plans-page .plan .orange {
    outline: 3px solid var(--orange-color);
  }
  .plans-page .plan .top .price {
    width: fit-content;
    margin: auto;
    font-size: 40px;
  }
  .plans-page .plan .top .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;
  }
  .plans-page .plan ul li {
    padding: 15px 0;
    font-weight: normal;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
  }
  .plans-page .plan ul li .yes {
    color: var(--green-color);
    margin-right: 5px;
  }
  .plans-page .plan ul li .help {
    margin: 0 0 0 auto;
    cursor: pointer;
  }
  .plans-page .plan > span {
    display: block;
  }
/* end plan-page  */

